<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-2 text-black dark:text-white font-bold"
>
  <!-- Logo Icon -->
  <span
    class="text-2xl transition-transform transform group-hover:rotate-180 group-hover:scale-125 duration-300 ease-in-out"
  >
    ✦
  </span>
  
  <!-- Logo Text -->
  <!-- <span class="text-lg font-semibold tracking-wide transition-transform transform group-hover:scale-110 duration-300 ease-in-out">
    aria
  </span> -->
</a>
